<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Rearrangement</title>
    <link rel="stylesheet" href="/stylesheets/chosen.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="lib/d3.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/chosen.jquery.js"></script>

</head>

<body>
    <div id=left_div></div>
    <div id=middle_div></div>
    <div id=block1_div>
        <div id=block1_top_div></div>
        <div id=block1_bottom_div></div>
    </div>
    <div id=block2_div>
        <div id=block2_top_div></div>
        <div id=block2_bottom_div></div>
    </div>
    <div id=block3_div>
        <div id=block3_top_div></div>
        <div id=block3_bottom_div></div>
    </div>
    <script src="/javascripts/initial.js"></script>
    <script src="/javascripts/draw_view.js"></script>
    <script src="/javascripts/draw_sub_view.js"></script>

</body>

</html>