<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Rearrangement</title>
    <link rel="stylesheet" href="/stylesheets/chosen.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/input.css">

    <script src="lib/d3.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/chosen.jquery.js"></script>
    <script src="lib/underscore-min.js"></script>

</head>

<body>
    <div id=top_div>
        <div id=top_left_div>
            <center>
                select the threshold:
                <input id="threshold_select" class="Input_style" placeholder="0" /> %
            </center>
        </div>

        <div id=top_right_div>
            <center>
                <select data-placeholder="select the property" class="simple_select" id="property_select">
                        <option ></option>
                    </select>
                <select data-placeholder="select the number" class="simple_select" id="number_select">
                            <option ></option>
                        </select>
            </center>
        </div>
    </div>
    <div id=main_div>
        <div id=left_div></div>
        <div id=block_div></div>
    </div>
    <script src="/javascripts/initial.js"></script>
    <script src="/javascripts/draw_view.js"></script>
    <script src="/javascripts/draw_sub_view.js"></script>

</body>

</html>